.modal-body input, .modal-body textarea{
    margin: 12px 0px;
    width: 100%;
    background: #e3f5fd;
    border-radius: 15px;
    padding: 4px 12px;
    border: 1px solid black;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.tableC{
    width: 100%;
}
.uploadProgress{
    font-size: 13px;
    margin-bottom: 4px;
}
.uploadProgress button{
    font-size: 13px;
    padding: 2px 4px;
}